### Train Route Info ###

Route Length = 100

### Station Info ###

Stations = 25, 10, 80

### Trains Info ###

Train Default Capacity = 25
Trains = I/60/50 O/10 In/3 Out/50/10

### Simulation ###

Simulation Duration = 50

### Passengers ###

Min Passenger Creation = 0 
Max Passenger Creation = 1