### Train Route Info ###

Route Length = 100 									# The length of the Train Route

### Station Info ###

Seed = 10000										# A Long value to be used ad the seed of the RNG
Stations = 25, 10, 80 								# The Locations of the Station along the Track

### Trains Info ###

Train Default Capacity = 25							# The Default Capacity of the Trains, if none is specified
Trains = I/60/50 O/10 In/3 Out/50/10 O/70 O/30		# The Trains to add to the Simulation
													#	First Param:  Inbound (I, In, Inbound) or Outbound (O, Out, Outbound)
													#	Second Param: Starting location on track
													#	Last Param (Optional): Custom Max Capacity

### Simulation ###

Simulation Duration = 50							# Number of Steps to run the Simulation for

### Passengers ###

Min Passenger Creation = 3 							# Minimum Number of passengers to create each Iteration
Max Passenger Creation = 10							# Maximum Number of passengers to create each Iteration